# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources/9db1bef9-7a5d-4d5a-a9ec-244908104aeb/_src_/
.idea/dataSources/9db1bef9-7a5d-4d5a-a9ec-244908104aeb/_staging_/
.idea/sonarlint/issuestore/0/9/
.idea/sonarlint/issuestore/0/c/
.idea/sonarlint/issuestore/0/e/
.idea/sonarlint/issuestore/0/f/
.idea/sonarlint/issuestore/1/1/
.idea/sonarlint/issuestore/1/3/
.idea/sonarlint/issuestore/1/6/
.idea/sonarlint/issuestore/1/7/
.idea/sonarlint/issuestore/1/9/
.idea/sonarlint/issuestore/1/c/
.idea/sonarlint/issuestore/2/4/
.idea/sonarlint/issuestore/2/5/
.idea/sonarlint/issuestore/2/7/
.idea/sonarlint/issuestore/2/9/
.idea/sonarlint/issuestore/2/e/
.idea/sonarlint/issuestore/2/f/
.idea/sonarlint/issuestore/3/3/
.idea/sonarlint/issuestore/3/4/
.idea/sonarlint/issuestore/3/7/
.idea/sonarlint/issuestore/3/f/
.idea/sonarlint/issuestore/4/0/
.idea/sonarlint/issuestore/4/1/
.idea/sonarlint/issuestore/4/3/
.idea/sonarlint/issuestore/4/7/
.idea/sonarlint/issuestore/4/a/
.idea/sonarlint/issuestore/4/e/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/0/
.idea/sonarlint/issuestore/6/1/
.idea/sonarlint/issuestore/6/4/
.idea/sonarlint/issuestore/6/7/
.idea/sonarlint/issuestore/6/f/
.idea/sonarlint/issuestore/7/3/
.idea/sonarlint/issuestore/7/9/
.idea/sonarlint/issuestore/7/a/
.idea/sonarlint/issuestore/7/c/
.idea/sonarlint/issuestore/7/d/
.idea/sonarlint/issuestore/7/f/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/9/1/
.idea/sonarlint/issuestore/9/2/
.idea/sonarlint/issuestore/9/4/
.idea/sonarlint/issuestore/9/8/
.idea/sonarlint/issuestore/9/c/
.idea/sonarlint/issuestore/9/f/
.idea/sonarlint/issuestore/a/6/
.idea/sonarlint/issuestore/a/8/
.idea/sonarlint/issuestore/a/a/
.idea/sonarlint/issuestore/a/d/
.idea/sonarlint/issuestore/a/e/
.idea/sonarlint/issuestore/b/0/
.idea/sonarlint/issuestore/b/1/
.idea/sonarlint/issuestore/b/2/
.idea/sonarlint/issuestore/b/5/
.idea/sonarlint/issuestore/b/6/
.idea/sonarlint/issuestore/b/8/
.idea/sonarlint/issuestore/b/9/
.idea/sonarlint/issuestore/b/b/
.idea/sonarlint/issuestore/b/e/
.idea/sonarlint/issuestore/c/0/
.idea/sonarlint/issuestore/c/4/
.idea/sonarlint/issuestore/c/5/
.idea/sonarlint/issuestore/c/6/
.idea/sonarlint/issuestore/c/a/
.idea/sonarlint/issuestore/c/b/
.idea/sonarlint/issuestore/c/d/
.idea/sonarlint/issuestore/d/0/
.idea/sonarlint/issuestore/d/2/
.idea/sonarlint/issuestore/d/4/
.idea/sonarlint/issuestore/d/6/
.idea/sonarlint/issuestore/d/7/
.idea/sonarlint/issuestore/d/9/
.idea/sonarlint/issuestore/d/b/
.idea/sonarlint/issuestore/d/e/
.idea/sonarlint/issuestore/d/f/
.idea/sonarlint/issuestore/e/0/
.idea/sonarlint/issuestore/e/1/
.idea/sonarlint/issuestore/e/2/
.idea/sonarlint/issuestore/e/c/
.idea/sonarlint/issuestore/e/e/
.idea/sonarlint/issuestore/e/f/
.idea/sonarlint/issuestore/f/
serverCore/target/generated-sources/
serverCore/target/generated-test-sources/
testPlugin/target/generated-sources/
testPlugin/target/generated-test-sources/
testPlugin/target/test-classes/
.idea/dataSources/1a23a452-0e20-4076-8480-d903d213dbcb/_src_/
.idea/dataSources/1a23a452-0e20-4076-8480-d903d213dbcb/_staging_/
pushPlugin/target/generated-sources/
pushPlugin/target/generated-test-sources/
